.content .content__followers{

    padding: 20px 0px;

}

.content .content__followers .followers{
    width: 100%;
    max-width: 320px;
    padding: 32px 20px 25px 20px;
    margin: 0px auto 24px auto;
    position: relative;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
    /* transition: background-color 0.3s; */
    transition: all .3s ease;
    background-color: var(--bgfollowers);
}

.content .content__followers .followers:hover{
   background-color: #333A57;
}

.content .content__followers .followers .followers-bar{
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    /*
        * * #198ff5
        * * #1ca0f2
        * * linear-gradient(to right, #fdc468, #df4996)
        * * #c4032a
    */

}

/* ? Facebook */
.facebook-bg{
    background-color: #198ff5;

}
.facebook-color{
    color: #198ff5;
}

/* ? twitter */
.twitter-bg{
    background-color: #1ca0f2;
}
.twitter-color{
    color: #1ca0f2;
}

/* ? Instagram */
.instagram-bg{
    background: linear-gradient(to right, #fdc468, #df4996);
}
.instagram-color{
    color: #df4996;
}

/* ? YouTube */
.youtube-bg{
    background-color: #c4032a;
}
.youtube-color{
    color: #c4032a;
}
.content .content__followers .followers .followers__header{

    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}
.content .content__followers .followers .followers__header .header-icon{

    font-size: 1.2rem;
    margin-right: 5px;
}
.content .content__followers .followers .followers__header .header-username{

    font-size: 0.7rem;
    color: var(--text-color-2);
    font-weight: bold;
    margin-left: 5px;
}

.content .content__followers .followers .followers__main{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
.content .content__followers .followers .followers__main .main-quantity{

    font-size: 3.75em;
    font-weight: bold;

}
.content .content__followers .followers .followers__main span{
    letter-spacing: 0.35em;
    font-size: .9em;
    color: var(--text-color-2);
}

.content .content__followers .followers .followers__footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .content__followers .followers .followers__footer .footer-count{

    margin-left: 5px;
    font-size: .8em;
    font-weight: bold;
}
.up{
    color: #1db489;
}
.down{
    color: #dc414c;
}
i.fas.fa-caret-up{

    color: #1db489;
}
i.fas.fa-caret-down{
    color: #dc414c;
}

.content__today{
    padding: 10px 0px;
    margin-bottom: 40px;
}
.today-title{
    color: var(--text-color-2);
    font-size: 1.6rem;
    padding: 15px 0px;
    margin-bottom: 15px;
    width: 100%;
}
.today-card{

    width: 100%;
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bgfollowers);
    padding: 20px 25px 15px 25px;
    margin: 0px auto 25px auto;
    height: 125px;
    border-radius: 5px;
    transition: all .3s ease;
}
.today-card:hover{
    background-color: #333A57;
}
.today-card .card{
    /* width: 100%;
    max-width: 320px; */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-title{
    font-size: .97em;
    font-weight: 700;
    line-height: 1.5em;
    color: var(--text-color-2);
}
.card-icon{
    font-size: 1.1rem;
}
.card-number{
    font-size: 2.25em;
}
.card-stats{
    width: auto;
}
.card-stats i{
    margin-right: 5px;
    font-size: .85em;
}
.card-stats .stats-count{
    font-size: .8rem;
    font-weight: bold;
}

/* TODO: RESPONSIVE STYLE !*/


/* * mobile screen */
/* @media screen and (min-width: 480px){

    .content .content__followers{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin: 0;
    }
    .content .content__followers .followers{
        max-width: 250px;
    }
} */

@media screen and (min-width: 748px){
    .content .content__followers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
       }
    .content .content__followers .followers{
        max-width: 330px;
    }
    .content__today{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .today-card{
        max-width: 330px;
    }
}

@media screen and (min-width: 1024px){
    .content .content__followers .followers{
        max-width: 230px;
    }
    .today-card{
        max-width: 230px;
    }
    .separator{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .header__mode{
        width: auto;
        padding: 0px 15px;

    }
    .header__mode  .mode-title{
        margin-right: 20px;
    }
}

@media screen and (min-width: 1312px){

    .content .content__followers .followers{
        max-width: 260px;
    }
    .today-card{
        max-width: 260px;
    }

}