@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{

  --bg-color: #1D1F29;
  --bgtoggle:#343D5B;
  --bgfollowers: #252A41;
  --text-color-1: #FFFFFF;
  --text-color-2: #8A96C5;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color-1);
  font-size: 14px;
  transition: background-color .5s ease-in ;
}

body.dark{
  background-color: #fff;
  color: var(--bg-color);
}
